
<form class="form">
    <div class="form__head">
        <div class="form__head-box">
            <div class="form__head-name">цена со скидкой:</div>
            <div class="form__head-price">990₽</div>
        </div>
        <div class="form__head-box">
            <div class="form__head-nameOld">старая цена:</div>
            <div class="form__head-priceOld">2200₽</div>
        </div>
    </div>
    <div class="form__body">
        <div class="form__item">
            <select class="form__select" name="" id="">
                <option value="Latvia">Latvia</option>
                <option value="Latvia2">Latvia2</option>
                <option value="Latvia3">Latvia3</option>
            </select>
        </div>
        <div class="form__item">
            <input type="text" class="form__field" placeholder="First Name">
        </div>
        <div class="form__item">
            <input type="text" class="form__field" placeholder="Last Name">
        </div>
        <div class="form__item">
            <input type="text" class="form__field" placeholder="Address">
        </div>
        <div class="form__item">
            <input type="text" class="form__field" placeholder="City">
        </div>
        <div class="form__item">
            <input type="text" class="form__field" placeholder="Select State">
        </div>
        <div class="form__item">
            <input type="text" class="form__field" placeholder="Zip Code">
        </div>
        <div class="form__item">
            <input type="text" class="form__field" placeholder="Email">
        </div>
        <div class="form__item">
            <input type="text" class="form__field" placeholder="Telephone">
        </div>
    </div>
    <div class="form__footer">
        <div class="form__btn btn">Заказать <span>со скидкой</span></div>
    </div>
</form>
